@model List<Product>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Category?.Name</td>
            <td>@item.Price</td>
            <td>
                <a class="btn btn-success" asp-action="AddProduct" asp-route-id="@item.Id">Dodaj do koszyka</a>
            </td>
        </tr>
    }
</table>